body {
  margin: 0;
 padding: 0;
  box-sizing: border-box;
}

:root {
    --bg-header: #990033;
    --color-li-header: #ffcccc;
    --color-logo: #ffffff;
    --color-label: #330000;
}

.width {
    width: 100%;
}

a{
  text-decoration: none;
    color: var(--color-li-header);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-direction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active {
    color: red;
    text-decoration: underline;
}

li {
    list-style: none;
}

input {
    width: 95%;
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
    font-style: italic;
    color: midnightblue;
    border: 1px solid var(--color-li-header);
}

input:hover {
    border: 1px solid var(--bg-header);
}

label {
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--color-label);
}